*::selection {
  user-select: none;
}
* {
  border-radius: 5px;
  font-family: monospace;
}
body {
  background-color: #040404;
  color: white;
}
#messager {
  width: 50%;
  height: 60px;
  border-radius: 10px;
  background-color: black;
    background: linear-gradient(145deg, #040404, #060606);
  border-radius: 15px;
  box-shadow: 11.41px 11.41px 0px #040404, -2.41px -2.41px 10px #060606;
}
#starter {
  width: 39%;
  height: 60px;
  border-radius: 10px;
  background-color: black;
  margin: 5px;
  background: linear-gradient(145deg, #040404, #060606);
  border-radius: 15px;
  box-shadow: 11.41px 11.41px 0px #040404, -2.41px -2.41px 10px #060606;
}
.input-inf {
  width: 10px;
}

button,
input {
  background: #0b0909;
  background: linear-gradient(145deg, #040404, #060606);
  border-radius: 15px;
  box-shadow: 11.41px 11.41px 0px #040404, -2.41px -2.41px 10px #060606;
  margin: 3.5px !important;
}
#stopper{
  padding:20px 10px 20px 10px;
}
p {
  margin: 0px !important;
}
.adjustment-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #212121;
  margin: 25px 0px 25px 0px;
  /* padding-top: 10px; */
  height: auto;
  background: linear-gradient(145deg, #040404, #060606);
  border-radius: 15px;
  box-shadow: 11.41px 11.41px 0px #040404, -2.41px -2.41px 10px #060606;
  justify-content: space-around;
  padding: 5px;
  width:80%;
}

/*select the last child of the main element*/
.adjustment-container:last-of-type{
  margin-bottom: 0px;
}

.main-input-container {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0px 20px 0px;
  padding: 10px;
  align-content: space-between;
  align-items: baseline;
  border-radius: 15px;
}
#title {
  color: white;
}
code {
  border-top: #982c61 4px solid;
  border-bottom: rgb(38, 189, 164) solid 5px;
}
img {
  -webkit-filter: invert(1);
  filter: invert(1);
  display: flex;
  margin: 10px auto 10px auto;
}

/*create a media query for when the window size is 650px or less*/
@media screen and (max-width: 650px) {
  .adjustment-container {
    width: 100%;
  }
  img{
    width:300px;
  }
}
